.logo {
  display: flex;
  width: 15rem;
  height: 5rem;
  margin-left: 0.5rem;
  justify-content: center;
  position: relative;
}

.menulogo {
  display: flex;
  width: 5rem;
  height: 3.5rem;
  justify-content: center;
  position: relative;
}
